@font-face {
	src: url('./Gilroy-SemiBold.woff2');
	font-family: 'Gilroy';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
}
body {
	margin: 0;
	font-family: 'Gilroy', sans-serif;
}
#root {
	width: 100%;
}
